<footer class="bd-footer py-5 mt-5 bg-light">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 mb-3">
				<a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{{ .Site.BaseURL | relLangURL }}"
					aria-label="Bootstrap">{{ .Site.Title }}</a>
				<ul class="list-unstyled small text-muted">
					<li class="mb-2">Designed and built with all the love in the world.</li>
					<li class="mb-2">Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a
							href="https://creativecommons.org/licenses/by/3.0/" target="_blank"
							rel="license noopener">CC BY 3.0</a>.</li>
					<li class="mb-2">Developed by <a href="#" target="_blank"
							rel="noopener">Aishik Rehman</a>.</li>
				</ul>
			</div>
			<div class="col-6 col-lg-3 mb-3">
				<h5>Links</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="#">Home</a></li>
				</ul>
			</div>
			<div class="col-6 col-lg-3 mb-3">
				<h5>Guides</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="#">Getting started</a></li>
				</ul>
			</div>
			<div class="col-6 col-lg-3 mb-3">
				<h5>Projects</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="#">Bootstrap 5</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>