<nav class="bd-subnavbar py-2 bg-light d-print-none" aria-label="Secondary navigation">
    <div class="container-xxl d-flex align-items-md-center">
        <span class="position-relative me-auto">{{ .Title }}</span>
        <div class="bookpage-navigation-box btn-group">
            {{ $currentDirectory := .File.Dir }}
            {{ $currentDirectoryParsed := replace $currentDirectory "\\" "/" }}
            {{ if or (isset .Params "page") (isset .Params "p") }}
            {{ $currentPage := default .Params.page .Params.p }}
            {{ $nextPage := add (int $currentPage) 1 }}
            {{ $prevPage := sub (int $currentPage) 1 }}

            {{ $nextPageParsed := urls.JoinPath .Site.BaseURL $currentDirectoryParsed $nextPage }}
            {{ $prevPageParsed := urls.JoinPath .Site.BaseURL $currentDirectoryParsed $prevPage }}
            {{ $hasPrev := lt $prevPage 1 }}

            {{ if not (isset .Params "noc") }}
            <a type="button" class="btn btn-outline-secondary" href='{{.Site.BaseURL}}{{ $currentDirectoryParsed }}#{{ i18n "id.main"}}'>¶</a>
            {{ end }}
            <a type="button" class="btn btn-outline-secondary {{ if $hasPrev }}disabled{{ end }}"
                href="{{ $prevPageParsed }}">«</a>
            {{ with .File }}<span type="button" class="btn btn-outline-secondary active">{{i18n "nav.page"}}: {{
                $currentPage }}</span>{{ end }}
            <a type="button" class='btn btn-outline-secondary {{ if isset .Params "last" }}disabled{{ end }}'
                href="{{ $nextPageParsed }}">» </a>
            {{ end }}
        </div>
    </div>
</nav>